
.b-grid {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
}

.b-grid img {
	width: 25%;
	margin: 10px auto;
	border-radius: 10px;
	background-color: aquamarine;
}

@media screen and (min-width: 500px) {
	.b-grid img {
			width: calc(25% - 20px);
	}
}