.b-grid {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
}

.b-grid img {
	width: 25%;
	padding: 4px;
	border-radius: 10px;
	cursor: pointer;
}


.content-general {
	position: relative;
}

.time {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.stopBtn {
	background-color: rgb(255, 255, 255);
	border-style: none;
	border-radius: 0.2rem;
	font-weight: 800;
}

.startBtn {
	background-color: rgb(255, 255, 255);
	border-style: none;
	border-radius: 0.2rem;
	font-weight: 800;
}

.stop_new {
	display: none;
}

.start_new {
	display: none;
}

h4,
h5 {
	margin: 0 !important;
}

.show-grip {
	display: none;
}


.button-restart-game {
	background: cornflowerblue;
	border-style: none;
	padding: 1rem;
	color: white;
	font-size: 1.5rem;
	font-weight: 700;
	border-radius: 0.5rem;
}

.button-restart-game:hover {
	background: rgb(62, 114, 212);
	border-style: none;
	padding: 1rem;
	color: white;
	font-size: 1.5rem;
	font-weight: 700;
	border-radius: 0.5rem;
}

.button-restart{
	background-color: rgb(255, 97, 97);
	border-style: none;
	color: white;
	font-size: 2rem;
	border-radius: 0.6rem;
}
