.b-grid {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
}

.b-grid img {
	width: 25%;
	padding: 4px;
	border-radius: 10px;
	cursor: pointer;
}


.content-general {
	position: relative;
}

.time {
	position: absolute;
	background: rgba(87, 87, 87, 0.527);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	top: 0;
	height: 100%;
}

.stopBtn {
	background-color: rgb(255, 255, 255);
	border-style: none;
	border-radius: 0.2rem;
	font-weight: 800;
}

.startBtn {
	background-color: rgb(255, 255, 255);
	border-style: none;
	border-radius: 0.2rem;
	font-weight: 800;
}

.stop_new {
	display: none;
}

.start_new {
	display: none;
}

h4,
h5 {
	margin: 0 !important;
}

.show-grip{
	display: none;
}

.hola{
	width: 100%;
}